.specials {
    width: 100%;
    margin: 4rem auto;
    max-width: 1024px;
    padding: 2rem;
}

.specials .headline {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.specials h1 {
    font-size: 5.3331rem;
    color: #333333;
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    text-align: left;
}

.specials img {
    width: 100%;
    height: auto;
    float: none;
    padding-bottom: 2rem;
}

.description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
}

.specials h3 {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    text-align: left;
    padding-left: 1rem;
}

.price {
    font-family: 'Karla', sans-serif;
    color: #EE9972;
    font-size: 1.3331rem;
    font-weight: 500;
    padding-right: 1rem;
}

.span {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1024px;
}
.specials p {
    font-family: 'Karla', sans-serif;
    color: #495e57;
    font-size: 1.3331rem;
    font-weight: 500;
    text-align: left;
    padding: 1rem;
}
.ordr {
    margin-right: 2%;
}
.dlvr {
    color: #333333;
    padding:1rem;
    border: none;
    background-color: transparent;
    font-size: 1.3331rem;
    font-weight:700;
    font-family: 'Karla',sans-serif;
    text-align: center;
    transition: .4s;
    cursor: pointer;
  }
  
  .dlvr:active {
    transform: translate(4px);
    border-bottom:none;
  }






@media screen and (max-width:940px) {
    .specials {
        margin: 2rem;
        width: 100%;
        margin-bottom: 6rem;
    }

    .description {
        display: grid;
        grid-template-columns: 1fr;
    }

    .headline {
        margin-left: 1rem;
    }
    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .price {
        font-size: 1.25rem;
    }

    .ordr {
        margin-right: 6%;
    }

    .span {
        margin-right: 1rem;
    }

    .dlvr {
        white-space: nowrap;
        font-size: 1.2rem;
    }

    .specials img {
        width: 100%;
        height: auto;
        padding-right: 2rem;
        margin-top: 3rem;
    }

}

@media screen and (max-width: 478px) {
    .specials > div p {
        margin: 1rem .5rem;
    }
}