.booking {
    background-color: #050505;
    color: #050505;
    height: 80vh;
    width: 100%;
    opacity: 95%;
    position: relative;
    margin-bottom: 0;
}

.booking:before {
    content: '';
    background: url('../../assets/restaurant.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    filter:blur(3px);
    opacity: 20%;
}

.booking .guide {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    text-align: left;
    max-width: 1024px;
    margin: auto;
    padding: 2rem;
    white-space: nowrap;
}

.booking h1 {
    font-size: 5.3331rem;
    color: #f4ce14;
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    padding-top: 3rem;
}

.booking .booking-text {
    font-size: 1.5rem;
    color:#edefee;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    white-space: normal;
    padding: 3rem 3rem 6rem 0;
    text-align: left;
}

.booking h3 {
    font-size: 1.5rem;
    color:#f4ce14;
    padding: 0.3rem 0.3rem;
}

.form-box {
    height: ;
    margin: 6rem auto 3rem auto;
    padding: 2rem;
}

.formfield {
    border: none;
}

.Field {
    display: flex;
    background-color: #edefee;
    color:#333333;
    justify-content: space-between;
    width: 25vw;
    align-items: center;
    padding: 8px;
    margin: 16px;
    border-radius: 8px;
}

.Field input {
    background: rgba(244, 206, 20, 0.5);
    border: solid 1px #333333;
    border-radius: 6px;
    height: 2rem;
    width: 15vw;
    margin: 0 3px;
    padding: 0 1rem;

}

.input[type=text] {
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

.input[type=email] {
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    background: rgba(244, 206, 20, 0.5);
}

.Field input[type=text]:focus {
    outline: none;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}


.Field input[type=text]:focus {
    outline: none;
}

label {
    padding: 0 14px 0 8px;
    font-family: 'Karla' sans-serif;
    font-size: 1.5rem;
}

.formfield .btn {
    margin-top: 2rem;
    margin-left: 1rem;
}


@media screen and (max-width: 940px) {
    .booking {
        height: 80vh;
        width: 100%;
        position: relative;
        margin-bottom: 0;
    }

    .booking h1 {
        font-size: 2.5rem;
    }

    .booking-description {
        font-size: 1rem;
        text-align: left;
        padding-left: 2rem;
    }

    .booking .guide {
        grid-template-columns: 1fr;
    }

    .booking .booking-text {
        padding: 0;
    }

    .booking:before {
        content: '';
        background: url('../../assets/restaurant.jpg') no-repeat center center/cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -10;
        filter:blur(3px);
        opacity: 20%;
    }

    .form-box {
        height: 40vh;
        margin: 0 auto;
        padding: 0rem;
    }
    .formfield {
        height: 2vh;
        width: 100vw;
        margin: 0 auto 2rem auto;
        padding: 0 1rem;
    }

    .Field input {
        background: rgba(244, 206, 20, 0.5);
        border: solid 1px #333333;
        border-radius: 6px;
        height: 1.5rem;
        width: 25vw;
        margin: 0 3px;
        padding: 0 1rem;
    }

    .Field {
        display: flex;
        background-color: #edefee;
        color:#333333;
        justify-content: space-between;
        border-radius: 8px;
        height: 1.5rem;
        width: 60vw;
        padding: 1rem;
    }

}
