@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Markazi+Text:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-family: 'Markazi Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.btn {
  color: #333333;
  padding: 10px 20px;
  border: none;
  background-color: #F4CE14;
  border-radius: 16px;
  font-size: 1rem;
  font-weight:500;
  font-family: 'Karla';
  text-align: center;
  transition: .4s;
  cursor: pointer;
}

.btn:active {
  transform: translate(4px);
  border-bottom:none;
}
